/* CSS pour le spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* Couleur du spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Utilisation de l'animation 'spin' définie ci-dessus */
    margin: 20px auto; /* Ajustez la marge en fonction de votre mise en page */
}

.error404{
    width: 100vw;
    height: 100vh;
    background: #3498db;
    background-image: url("./assets/error-404.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.buttonNotFound{
    transform: translate(-58% , 100%);
    padding: 2rem 6rem !important;
}

.card-Plante:hover{
    background: rgb(23,255,117);
    background: radial-gradient(circle , rgba(28,255,117,1) 11% , rgba(250,250,250,0.1) 53% );
}

.card-Eau:hover{
    background: rgb(23,211,255);
    background: radial-gradient(circle, rgba(23,211,255,1) 11%, rgba(236,239,241,0.1) 53%);
}
.card-Feu:hover{
    background: rgb(255,39,23);
    background: radial-gradient(circle, rgba(255,39,23,1) 11%, rgba(241,237,236,0.1) 53%);
 }
.card-Acier:hover{
    background: rgb(232, 232, 232);
    background: radial-gradient(circle, rgb(232, 232, 232) 11%, rgba(241,237,236,0.1) 53%);
  }
.card-Normal:hover{
    background: rgb(182,182,182);
    background: radial-gradient(circle, rgba(182,182,182,1) 11%, rgba(241,237,236,0.1) 53%);
  }
.card-Combat:hover{
    background: rgb(245,114,18);
    background: radial-gradient(circle, rgba(245,114,18,1) 11%, rgba(241,237,236,0.1) 53%);
   }
.card-Électrik:hover{
    background: rgb(245,229,18);
    background: radial-gradient(circle, rgba(245,229,18,1) 11%, rgba(241,237,236,0.1) 53%);
    }
.card-Fée:hover{
    background: rgb(236,124,206);
    background: radial-gradient(circle, rgba(236,124,206,1) 11%, rgba(241,237,236,0.1) 53%);
     }
.card-Glace:hover{
    background: rgb(197,249,246);
    background: radial-gradient(circle, rgba(197,249,246,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Insecte:hover{
    background: rgb(82, 239, 57);
    background: radial-gradient(circle, rgba(82, 239, 57,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Poison:hover{
    background: rgb(94,0,140);
    background: radial-gradient(circle, rgba(94,0,140,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Psy:hover{
    background: rgb(201,48,186);
    background: radial-gradient(circle, rgba(201,48,186,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Roche:hover{
    background: rgb(159,111,70);
    background: radial-gradient(circle, rgba(159,111,70,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Sol:hover{
    background: rgb(147,73,10);
    background: radial-gradient(circle, rgba(147,73,10,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Spectre:hover{
    background: rgb(26,2,69);
    background: radial-gradient(circle, rgba(26,2,69,1) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Ténébres:hover{
    background: rgb(29,29,29);
    background: radial-gradient(circle, rgba(29,29,29,0.9) 11%, rgba(241,237,236,0.1) 53%);
      }
.card-Vol:hover {
    background: rgb(41,255,239);
    background: radial-gradient(circle, rgba(41,255,239,1) 11%, rgba(241,237,236,0.1) 53%);
}

